.leadership {
    background-color: var(--light-blue-background);
}

.leadership__wrapper {
    padding-top: var(--padding-100);
    padding-bottom: var(--padding-100);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leadership__cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: calc(var(--padding-60) - 13px);
    gap: 60px;
    justify-content: center;
    width: 100%;
}

.card {
    width: 293px;
    height: 361px;
    position: relative;
    overflow: hidden;
    border-radius: 13px;
}

.card__photo-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.card__circle-bg {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: linear-gradient(70deg, rgba(225, 232, 238, 1), rgba(235, 240, 245, 1));
    z-index: 0;
    transition: background 0.8s ease-in-out;
}

.card__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    clip-path: circle(110px at 50% 123px);
    transition: clip-path 0.8s ease-in-out;
}

.card__circle-border {
    position: absolute;
    width: 221px;
    height: 221px;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 1px solid white;
    z-index: 3;
    pointer-events: none;
}

.card__info {
    left: 27px;
    top: 260px;
    position: absolute;
    z-index: 4;
    width: 90%;
}

.card__info h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    line-height: var(--font-line-height-h4);
    color: var(--dark-blue);
}

.card__info p {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    line-height: var(--font-line-height-h4);
    color: var(--light-grey);
}

.card:hover .card__info h4, 
.card:hover .card__info p {
    color: var(--white);
}

.card:hover .card__circle-bg {
    background: linear-gradient(70deg, rgba(0, 39, 123, 0.7), rgba(5, 83, 177, 0.7));
}

.card:hover .card__photo {
    clip-path: circle(150% at 50% 123px);
}

.card::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(70deg, rgba(0, 39, 123, 0.7), rgba(5, 83, 177, 0.7));
    opacity: 0;

    -webkit-mask: radial-gradient(
        circle at 50% 123px,
        transparent 0px,
        transparent 110px,
        white 110px,
        white 100%
    );
    mask: radial-gradient(
        circle at 50% 123px,
        transparent 0px,
        transparent 110px,
        white 110px,
        white 100%
    );

    pointer-events: none;
    transition: opacity 0.8s ease-in-out;
}

.card:hover::after {
    opacity: 1;
}

.card__socials {
    position: absolute;
    bottom: 140px;
    right: 58px;
    border-radius: 50%;
    background: #0077b5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 10;
    width: 50px;
    height: 50px;
}

.card__linkedin {
    color: white;
    opacity: 1;
    transition: all 0.3s ease;
}

.card__arrow {
    color: white;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
}

.card:hover .card__linkedin {
    opacity: 0;
}

.card:hover .card__arrow {
    opacity: 1;
}


@media screen and (max-width: 1320px) {
    .card {
        width: 250px;
    }

    .card__socials {
        right: 30px;
    }

    .leadership__cards-wrapper {
        gap: 30px;
    }

    .card__info {
        left: 20px;
    }
}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 834px) {
}

@media screen and (max-width: 670px) {
    .card {
        width: 235px;
    }

    .card__info {
        width: 85%;
    }
}

@media screen and (max-width: 540px) {
    .leadership__cards-wrapper {
        gap: 20px;
    }

    .card {
        width: 75%;
    }

}

@media screen and (max-width: 440px) {
    .card {
        width: 85%;
    }
}

@media screen and (max-width: 375px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    
}